<!DOCTYPE html>
<html>
<head>
  <title>Consulta de Jogadores</title>
</head>
<body>
  <h1>Consulta de Jogadores</h1>

  <form action="/consultarPorNome" method="GET">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome">

    <button type="submit">Consultar por Nome</button>
  </form>
<br>
  <form action="/consultarPorTime" method="GET">
    <label for="time">Time:</label>
    <input type="text" id="time" name="time">

    <button type="submit">Consultar por Time</button>
  </form>
</body>
</html>
